
#txtInfo{
	border:	solid 1px black;
	
}

#personalNumber{
	border:	solid 1px black;
}
#NationText{
	border: solid 1px black;
}
#faceImage{
	width: 30mm;
	height: 40mm;
	border: solid 1px black;
}
#tokugiInfo{
	border: solid 1px black;
}
